<div class="users">
<h1>Find Friends</h1>
<div class="wrapper">
<% @users.each do |user| %>
    <div class="user-grid">
    <%= link_to user.username, user_path(user) %><br>
    <p><%= user.first_name %>, <%= user.age %><br></p>
    <p><%= user.bio %></p>
    </div>
<% end %>
</div>

</div>