
    <label>Interests</label><br>
    <% @categories.each do |category| %>
    <%= form_for category do |f| %>
    <%=f.collection_check_boxes(category.interest_ids, category.interests, :id, :name) %>
    <%=f.submit%>
    <% end %>
    <% end %>
